@use '../helpers' as *;

.checkbox {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    color: var(--color-light);

    @include laptop {
        column-gap: rem(6);
    }

    @include hover {
        color: var(--color-accent);

        .checkbox__input {
            border-color: var(--color-accent);
        }
    }

    &__input {
        --size: #{rem(28)};

        @include square(var(--size));
        @include flex-center;

        appearance: none;
        margin: 0;
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: rem(4);

        @include laptop {
            --size: #{rem(24)};
        }

        &:not(:checked) {
            &::after {
                @include hide;
            }
        }

        &:user-invalid {
            border-color: var(--color-red);
        }

        &::after {
            content: '✔';
            color: var(--color-light);
            transition-duration: var(--transition-duration);
        }
    }
}