@use '../helpers' as *;

.tabs {
    &__header {
        border-bottom: var(--border);

        @include tablet {
            overflow-x: auto;
        }
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: rem(20);
        padding-block: fluid(50, 20);

        @include laptop {
            column-gap: rem(14);
        }

        @include tablet {
            width: max-content;
        }

        &--compact {
            display: inline-flex;
            column-gap: rem(10);
            padding: rem(10);
            background-color: var(--color-dark);
            border-radius: rem(10);

            .tabs__button {
                padding-block: rem(18);

                &.is-active {
                    background-color: var(--color-dark-15);
                }

                @include laptop {
                    padding-block: rem(14);
                }
            }
        }
    }

    &__button {
        padding: fluid(30, 18) rem(11);
        color: var(--color-gray-60);
        background-color: transparent;
        border: var(--border);
        border-radius: rem(8);
        font-size: rem(18);

        @include laptop {
            font-size: rem(14);
        }

        @include hover {
            color: var(--color-accent);
            border-color: var(--color-accent);
        }

        &.is-active {
            color: var(--color-light);
            font-weight: 500;
            background-color: var(--color-dark-10);
            pointer-events: none;
        }
    }

    &__content {
        &:not(.is-active) {
            display: none;
        }

        &:focus-visible {
            outline-offset: -1rem;
        }
    }
}